<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace = "~{admin-fragments::header}">
    <title>NHD | Khách hàng</title>
</head>

<body id="page-top">
    <div id="wrapper">

        <ul th:replace = "~{admin-fragments::sidebar}"></ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace = "~{admin-fragments::top-navbar}"></nav>

                <div class="container-fluid">
                    <p th:if="${size == 0} ">No Customer</p>
                    <div id="successMessage" th:if = "${success}" class = "text-center alert alert-success">
                        <p th:text = "${success}"></p>
                    </div>
                    <div id="errorMessage" th:if = "${error}" class="text-center alert alert-danger">
                        <p th:text = "${error}"></p>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Tên</th>
                            <th scope="col">SĐT</th>
                            <th scope="col">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "u : ${users}">
                            <th scope="row" th:text = "${u.Fullname}"></th>
                            <th scope="row" th:text = "${u.Phonenumber}"></th>
                            <th scope="row" th:text = "${u.Userpoint}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <footer th:replace = "~{admin-fragments::footer}"></footer>
        </div>
    </div>

    <a th:replace = "~{admin-fragments::scroll}"></a>

    <div th:replace = "~{admin-fragments::script}"></div>
</body>

</html>