<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace = "~{admin-fragments::header}">
    <title>UCL | Sản phẩm</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <ul th:replace = "~{admin-fragments::sidebar}"></ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace = "~{admin-fragments::top-navbar}"></nav>

                <div class="container-fluid">
                    <p th:if="${size == 0}">Chưa có sản phẩm</p>
                    <div id="successMessage" th:if = "${success}" class = "text-center alert alert-success">
                        <p th:text = "${success}"></p>
                    </div>
                    <div id="errorMessage" th:if = "${error}" class="text-center alert alert-danger">
                        <p th:text = "${error}"></p>
                    </div>

                    <a th:href="@{/products/{productId}/item/add(productId = ${id})}" class = "btn btn-primary" style="margin-bottom: 10px;">Thêm loại sản phẩm</a>

                    <table class="table table-bordered" th:if = "${size > 0}">
                        <thead>
                        <tr>
                            <th scope="col">Phân loại</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "productItem : ${productItems}">
                            <th scope="row" th:text = "${productItem.variation}"></th>
                            <td th:text = "${productItem.SKU}"></td>
                            <td>
                                <img class = "my-product-image" style="height: 40px; width: 40px"
                                     th:src="${productItem.image}" alt="Product Image">
                            </td>
                            <td th:text = "${productItem.qty_in_stock}"></td>
                            <td th:text = "${#numbers.formatDecimal(productItem.price, 0, 'COMMA', 3, 'POINT').replace('.000', '') + '&#8363;'}"></td>
                            <td><a th:href="@{/products/{productId}/item/{itemId}(productId = ${productItem.product.id}, itemId = ${productItem.id})}" class="btn btn-primary">Cập nhật</a>
                                <a id="delete" th:onclick="'confirmDelete(' + ${productItem.id} + ')'"
                                   class=" btn btn-danger">Xoá loại SP</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <footer th:replace = "~{admin-fragments::footer}"></footer>
        </div>
    </div>

    <a th:replace = "~{admin-fragments::scroll}"></a>

    <div th:replace = "~{admin-fragments::script}"></div>

    <script>
        function confirmDelete(productItemID) {
            if (confirm('Bạn có chắc chắn muốn xóa loại sản phẩm này?')) {
                fetch(`/delete-item?id=${productItemID}`, {
                    method: 'POST',
                })
                    .then(response => response.text())
                    .then(data => {
                        alert('Xóa loại sản phẩm thành công!');
                        location.reload();
                    })
                    .catch((error) => {
                        alert('Có lỗi xảy ra!');
                    });
            }
        }
    </script>
</body>

</html>