<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>NHD | Thanh toán</title>
    <div th:replace="~{user-fragment::head}"></div>
</head>

<body>
    <div th:replace="~{user-fragment::header(var1=${display})}"></div>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Thanh toán</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <form id="checkout" class="row contact_form" th:action="@{/place-order}" th:object="${order}" method="post" novalidate="novalidate">
            <div class="container">
                <div class="billing_details">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Chi tiết đơn hàng</h3>
                                <div class="col-md-12 form-group">
                                    <label for="name">Tên</label>
                                    <input type="text" class="form-control" id="name" name="name" th:value="${user.name}" readonly>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" name="phone" th:value="${user.phone}" readonly>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" name="address" th:value="${user.address}">
                                </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="order_box">
                                <h2>Thông tin đơn hàng</h2>
                                <table style="width: 100%;">
                                    <tr class="checkout-row" th:each="item : ${cartItems}">
                                        <td class="checkout-column-1" th:href="@{/product/${item.productItem.product.name}/${item.productItem.id}}" th:text="${item.productItem.product.name}"></td>
                                        <td class="checkout-column-2" th:text=" 'x' + ${item.qty}"></td>
                                        <td class="checkout-column-3" th:text="${#numbers.formatDecimal(item.productItem.price, 0, 'COMMA', 3, 'POINT').replace('.000', '') + '&#8363;'}"></td>
                                    </tr>
                                    <tr style="height: 40px"></tr>
                                    <tr style="padding-top: 40px">
                                        <td class="checkout-column-1">Phí vận chuyển</td>
                                        <td class="checkout-column-2"></td>
                                        <td class="checkout-column-3" th:text="'0' + '&#8363;'"></td>
                                    </tr>
                                    <tr>
                                        <td class="checkout-column-1" style="color: red">Tổng</td>
                                        <td class="checkout-column-2"></td>
                                        <td class="checkout-column-3" style="color: red" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 3, 'POINT').replace('.000', '') + '&#8363;'}"></td>
                                        <input type="hidden" name="total" th:value="${total}">
                                    </tr>
                                    <tr style="height: 40px"></tr>
                                </table>
<!--                                <div class="payment_item">-->
<!--                                    <div class="radion_btn">-->
<!--                                        <input type="radio" id="cash" name="payment-method" checked>-->
<!--                                        <label for="cash">Thanh toán khi nhận hàng</label>-->
<!--                                        <div class="check"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="payment_item active">-->
<!--                                    <div class="radion_btn">-->
<!--                                        <input type="radio" id="vnpay" name="payment-method">-->
<!--                                        <label for="vnpay">VNPAY QR</label>-->
<!--                                        <img src="/img/product/card.jpg" alt="">-->
<!--                                        <div class="check"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div>
                                    <label>Payment Method:</label>
                                    <div th:each="method : ${T(com.ecommerce.smartphoneshop.domain.PaymentMethod).values()}">
<!--                                        <input type="radio" th:value="${method}" th:id="${method}"/>-->
<!--                                        <label th:for="${#ids.prev('paymentMethod')}" th:text="${method}"></label>-->
                                        <input name="method" type="radio" th:value="${method}" th:checked="${method == T(com.ecommerce.smartphoneshop.domain.PaymentMethod).CASH}">
                                        <label th:text="${method}"></label>
                                    </div>
                                    <input type="hidden" id="paymentMethod" name="paymentMethod" required>
                                </div>
                                <button type="submit" class="primary-btn">Tiến hành thanh toán</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--================End Checkout Area =================-->

    <div th:replace="~{user-fragment::footer}"></div>

    <div th:replace="~{user-fragment::JS-import}"></div>

    <script>
        document.getElementById("checkout").addEventListener("submit", function() {
            const radioButtons = document.querySelectorAll('input[type="radio"][name="method"]');

            radioButtons.forEach(function(radioButton) {
                if (radioButton.checked) {
                    document.getElementById("paymentMethod").value = radioButton.value;
                }
            });
        });
    </script>
</body>

</html>