<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>NHD | Quên mật khẩu</title>
    <div th:replace="~{user-fragment::head}"></div>
</head>

<body>
    <div th:replace="~{user-fragment::header}"></div>

    <div style="height: 100px"></div>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Quên mật khẩu</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner">
                <p th:if="${param.success}">Email chứa đường link đặt lại mật khẩu đã được gửi tới địa chỉ email của bạn. Vui lòng kiểm tra thư mục Spam nếu không thấy email ở Hộp thư đến</p>
                <form class="row tracking_form" action="/forgot-password" method="post" novalidate="novalidate">
                    <div class="col-md-12 form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Gửi liên kết</button>
                    </div>
                </form>
            </div>
            <div th:if = "${param.error}" id="error2" class="alert alert-danger text-center">Liên kết đã hết hạn, vui lòng chọn Quên mật khẩu một lần nữa để nhận liên kết mới.</div>

        </div>
    </section>
    <!--================End Tracking Box Area =================-->
    <div th:replace="~{user-fragment::footer}"></div>

    <div th:replace="~{user-fragment::JS-import}"></div>
</body>

</html>