<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>NHD | Đặt lại mật khẩu</title>
    <div th:replace="~{user-fragment::head}"></div>
</head>

<body>
    <div th:replace="~{user-fragment::header}"></div>

    <div style="height: 100px"></div>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Đặt lại mật khẩu</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section_gap">
        <div class="container">
            <div class="tracking_box_inner">
                <p>Nhập mật khẩu mới</p>
                <form class="row tracking_form" action="/resetPassword" method="post" novalidate="novalidate">
                    <div class="col-md-12 form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" th:value="${email}" readonly>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="newPassword">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="confirmPassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                        <span id="passwordError" style="color: red"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" onclick="checkPassword(event)" class="primary-btn">Xác nhận</button>
                    </div>
                </form>
            </div>

        </div>
    </section>
    <!--================End Tracking Box Area =================-->
    <div th:replace="~{user-fragment::footer}"></div>

    <div th:replace="~{user-fragment::JS-import}"></div>

    <script>
        function checkPassword(event) {
            var password = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var errorElement = document.getElementById("passwordError");

            if (password !== confirmPassword) {
                errorElement.textContent = "Mật khẩu không khớp!";
                event.preventDefault(); // Prevent form submission by default
            }else{
                errorElement.textContent = "";
            }
        }
    </script>
</body>

</html>